body {
	background: linear-gradient(rgba(0, 0, 0, 0.459),rgba(37, 35, 35, 0.795)), url(img/pic2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family:  'Roboto Slab', serif;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.7);
}

h1 {
	margin: 30px 100px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.group {
	margin: 15px 40px;
	text-align: center;
}

label {
	float: left;
	color: #fff;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
}

input {
		padding: 10px;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: none;
	outline: none;
	border: 1px solid #fff;
	box-sizing: border-box;
}
input:focus {
	border: 1px solid #7cb9ca;
}
button {
	padding: 10px;
	width: 35%;

	font-size: 20px;
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #7cb9ca;
	transition: .3s;
	font-family: 'Roboto Slab', serif;
}
button:hover {
	background: #248a63;

}

